# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform variable files
# Uncomment if you don't want tfvars in Git
*.tfvars

# Terraform plan files
*.tfplan

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db